<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cookies</title>
</head>
<body>
Preferred language: <span th:text="${lang}">eg</span><br>

<form th:action="@{/cookies}" method="post">
<select id="lang2" name="lang2">
    <option value="en" th:selected="(${lang} == 'en')" text="en">EN</option>
    <option value="de" th:selected="(${lang} == 'de')" text="de">DE</option>
    <option value="bg" th:selected="(${lang} == 'bg')" text="bg">BG</option>
    <input type="submit" value="Submit preference"/>
</select>
</form>
</body>
</html>